__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
myenv/ 
.ipynb_checkpoints
.vscode/
*.log
.DS_Store

.conda/
.ipynb_checkpoints/
conda-meta/
envs/

*.pth
*.pt
*.ckpt

data/ 
uploads/ 
test/
train/
static/uploads/